.env
.terraform
terraform.tfstate.backup
.terraform.tfstate.lock.info
crash.log
*.tfstate
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
tf.plan
debug.log

# Visual Studio Code
**/.vscode/settings.json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/



# Java
*.jar
*.AppTest.*
*.lst
**target**
.factorypath
.classpath
*.prefs