<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
        %white(%d{ISO8601}) %white(%-5level) [%white(%t)] %white(%logger{100}): %msg%n%throwable
      </Pattern>
        </layout>
    </appender>
    <appender name="aiAppender" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
    </appender>
    <root level="trace">
        <appender-ref ref="aiAppender" />
    </root>
    <root level="trace">
        <appender-ref ref="Console" />
    </root>
    <logger name="reactor.netty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>